*.DS_Store
*/.DS_Store
**/.DS_Store
pingfed/instance/server/default/.DS_Store
pingfed/instance/server/default/data/data/.DS_Store
pingfed/instance/server/default/.DS_Store
pingfed/instance/server/default/data/.DS_Store
pingfed/instance/server/default/data/.DS_Store
pingfed/instance/server/default/.DS_Store
