## Use Case: PF - Base

PING_IDENTITY_ACCEPT_EULA=YES

# Password used by PF to talk to PD (Default with Baseline PD is 2FederateMore)
PF_USER_PWD=2FederateM0re

# PF Logging Level
PF_LOG_LEVEL=INFO

# PD User Base DN (PD Baseline is `dc=example,dc=com`)
USER_BASE_DN=dc=example.com

#####