{
	"id": "40199d03-d15c-47e4-b502-8b62f98479d1",
	"name": "Use Case: PF - Base",
	"values": [
		{
			"key": "pfAdminURL",
			"value": "https://pingfederate:9999",
			"enabled": true
		},
		{
			"key": "pfBaseURL",
			"value": "https://ext-docker.cpricelab.com:9031",
			"enabled": true
		},
		{
			"key": "pfAdmin",
			"value": "api-admin",
			"enabled": true
		},
		{
			"key": "pfAdminPwd",
			"value": "2FederateM0re",
			"enabled": true
		},
		{
			"key": "pdAdminUrl",
			"value": "https://pingdirectory:443",
			"enabled": true
		},
		{
			"key": "pdAdmin",
			"value": "cn=administrator",
			"enabled": true
		},
		{
			"key": "pdAdminPwd",
			"value": "2FederateM0re",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2020-02-24T18:49:30.401Z",
	"_postman_exported_using": "Postman/7.18.1"
}